/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 21, 2015, 11:45:02 PM
    Author     : geoffrey
*/
.blockTitle {
    height: 10%;
    font-size: 200%;
    font-style: italic;

}
.formattedList {
    color: red;
    font-weight: bold;
}
.foot {
    color: green;
    font-weight: bold;
    font-size: 110%;
}
#header_with_logo {
    height: 110px;
    width: 100%;
    background-color: black;
}
#business_intro {
    margin-top: 4%;
    height: 70px;
    width: 100%;
    background-color: white;
}
#block_container {
    height: 720px;
    width: 100%;
}
#score_block {
    height: 50%;
    width: 50%;
    float: left;
    margin-right: -2px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    /* border-right: 0px solid black; */
}
#score_block_title {
    padding-top: 10%;
    height: 10%;
    width: 95%;
    text-align: center;
    background: white;
    margin: auto;
}
#score_block_company {
    height: 10%;
    width: 35%;
    text-align: center;
    background: white;
    margin: auto;
}
#score_block_grade {
    height: 20%;
    width: 15%;
    padding-top: 5%;
    font-size: 280%;
    font-style: italic;
    text-align: center;
    color: red;
    background: white;
    margin: auto;
}
#score_block_footer {
    padding-top: 5%;
    height: 20%;
    width: 50%;
    text-align: center;
    background: white;
    margin: auto;
}
#security_block {
    height: 50%;
    width: 50%;
    float: right;
}
#security_block_title {
    padding-top: 10%;
    height: 20%;
    width: 95%;
    background: white;
    text-align: center;
    margin: auto;
    margin-bottom: 5%;
}
#security_block_threat_level {
    height: 10%;
    width: 50%;
    margin: auto;
    background: white;
}
#security_block_security_issues {
    height: 10%;
    width: 50%;
    margin: auto;
    background: white;
}
#security_block_footer {
    height: 15%;
    width: 60%;
    margin: auto;
    background: white;
    text-align: center;
    margin-top: 5%;
}
#seo_block {
    height: 50%;
    width: 50%;
    border-top: 2px solid black;
    float: right;
}
#seo_block_title {
    height: 25%;
    width: 100%;
    margin-top: 5%;
    text-align: center;
    background: white;
}
#seo_block_backlinks {
    height: 10%;
    width: 50%;
    margin: auto;
    background: white;
}
#seo_block_backlinks_past_60 {
    height: 10%;
    width: 50%;
    margin: auto;
    background: white;
}
#seo_block_top_domains {
    height: 10%;
    width: 50%;
    margin: auto;
    background: white;
}
#seo_block_top_pages {
    height: 10%;
    width: 50%;
    margin: auto;
    background: white;
}
#seo_block_footer {
    padding-top: 4%;
    height: 10%;
    width: 50%;
    margin: auto;
    margin-top: 5%;
    text-align: center;
    background: white;
}
#social_block {
    height: 50%;
    width: 50%;
    float: left;
    margin-right: -2px;
    border-right: 2px solid black;
}
#social_block_title {
    height: 25%;
    width: 100%;    
    text-align: center;
    background: white;
}
#social_block_twitter {
    height: 40%;
    width: 70%;
    text-align: center;
    background: white;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
    
}
#social_block_new_followers {
    height: 15%;
    background: white;
    text-align: center;
    margin: auto;
    width: 50%;
}
#social_block_footer {
    height: 10%;
    background: white;
    margin: auto;
    width: 50%;
    text-align: center;
}
#outro {
    height: 70px;
    width: 100%;
    background-color: white
}
#footer_with_logo {
    height: 150px;
    width: 100%;
    background-color: black;
    bottom: 0;
}
