/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 21, 2015, 11:45:02 PM
    Author     : geoffrey
*/

.blockTitle {
    height: 10%;
    font-size: 200%;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
.blockIcons {
	margin-top: 5%;
	height: 25%;
}
.formattedList {
    color: red;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 110%;
}
#block_header {
    height: 10%;
    width: 100%;
    text-align: center;
    font-size: 600%;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
#scoreIcon {
    background-image: url("a.png");
    background-repeat: no-repeat;
    background-position: center;
}
#socialIcon {
    background-image: url("d.png");
    background-repeat: no-repeat;
    background-position: center;
}
#seoIcon {
    background-image: url("b.png");
    background-repeat: no-repeat;
    background-position: center;
}
#securityIcon {
    background-image: url("c.png");
    background-repeat: no-repeat;
    background-position: center;
}
#header_container {

    margin-top: 200px;
height: 340px;
width: 100%;
}
#header_with_logo {
    color: white;
    font-size: 500%;
    height: 300px;
    width: 500px;
    font-weight: bold;
    background: black;
    position: absolute;
    right: 0;
    border-radius: 10px;
    text-align: center;	
}
#business_intro {
   margin-top: 5%;
   color: white;
   font-family: 'Arial Narrow', Arial, sans-serif;
   font-weight: bold;
   font-size: 70%;
}
#block_container {
	border-radius: 10px;
	border: 5px solid black;
    height: 720px;
    width: 100%;
}
#score_block {
    height: 50%;
    width: 50%;
    float: left;
    margin-right: -2px;
    border-right: 2px dashed gray;
    border-bottom: 2px dashed gray;
    /* border-right: 0px solid black; */
}
#score_block_title {
    padding-top: 5%;
    height: 10%;
    width: 95%;
    text-align: center;
    background: white;
    margin: auto;
}
#score_block_company {
    height: 5%;
    width: 35%;
    text-align: center;
    background: white;
    font-size:150%;
    font-weight: bold;
    margin: auto;
}
#score_block_grade {
    height: 20%;
    width: 15%;
    padding-bottom: 5%;
    font-size: 440%;
    font-style: italic;
    text-align: center;
    color: red;
    background: white;
    margin: auto;
}
#security_block {
    height: 50%;
    width: 50%;
    float: right;
}
#security_block_title {
    padding-top: 5%;
    height: 10%;
    width: 75%;
    background: white;
    text-align: center;
    margin: auto;
    margin-bottom: 5%;
}
#security_block_threat_level {
    height: 10%;
    width: 85%;
    margin: auto;
    background: white;
}
#security_block_security_issues {
    height: 10%;
    width: 85%;
    margin: auto;
    background: white;
}
#seo_block {
    height: 50%;
    width: 50%;
    border-top: 2px dashed gray;
    float: right;
}
#seo_block_title {
    height: 15%;
    width: 100%;
    text-align: center;
    background: white;
}
#seo_block_backlinks {
    height: 10%;
    width: 70%;
    margin: auto;
    background: white;
}
#seo_block_backlinks_past_60 {
    height: 10%;
    width: 70%;
    margin: auto;
    background: white;
}
#seo_block_top_domains {
    height: 10%;
    width: 70%;
    margin: auto;
    background: white;
}
#seo_block_top_pages {
    height: 10%;
    width: 70%;
    margin: auto;
    background: white;
}
#social_block {
    height: 50%;
    width: 50%;
    float: left;
    margin-right: -2px;
    border-right: 2px dashed gray;
}
#social_block_title {
    height: 15%;
    width: 100%;
    text-align: center;
    background: white;
}
#social_block_twitter {
    height: 28%;
    width: 70%;
    text-align: center;
    background: white;
    margin: auto;
    border: 3px solid #00aced;
    border-top: 12px solid #00aced;
    border-bottom: 12px solid #00aced;
    border-radius: 10px;
    font-size: 135%;
    color: #00aced;
}
#social_block_new_followers {
    height: 5%;
    padding-top: 1%;
    background: white;
    text-align: center;
    font-size: 150%;
    margin: auto;
    width: 50%;
}
#twtrlogo {
   height: 37px;
   width: 45px;
   margin: auto;
   margin-top: 2%;
   margin-bottom: 2%;
   background-image: url("twttr.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
#outro {
    height: 70px;
    width: 100%;
    background-color: white
}
#footer_with_logo {
    height: 380px;
    width: 100%;
    background-image: url("e.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    bottom: 0;
}
